body {
	background-color:#76744e;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#33170d;
	margin: 0px 0px;
	width:1000px;
	text-align:center;
}

#main_banner{
	position:absolute;
	top:-3px;
	left:0px;
	z-index:0;
}

#footer{
	position:absolute;
	top:930px;
	left:0px;
}

#mail{
	text-decoration:none;
	position:absolute;
	border:none;
	z-index:1;
	left: 75px;
	top: 1030px;
	margin: 0;
	padding: 0;
}

#mail img {
	border: 0px;
	padding: 0px;
	margin: 0px;
	width:16px;
	height:16px;
}

a{
	text-decoration:none;
	color:#33170d;
}

a:hover{
	text-decoration:underline;
	color:#33170d;
}

a:visited{
	color:#33170d;
}

a:active{
	color:#33170d;
}

h1{
	font-size:40px;
	position:absolute;
	top:50px;
	left:280px;
	z-index:2;
}

h2{
	width:150px;
	height:150px;
	border-style:solid;
	border-color:#33170d;
}

#allen{
	background-image:url(images2/Allen.gif);
}

#burke{
	background-image:url(images2/Burke.gif);
}


.main_menu{
	width:800px;
	text-align:left;
	position:absolute;
	top:325px;
	left:75px;
}

.main_menu td {
	padding: 0;
	margin: 0;
}

/*img#banner {
	margin-top:0px;
}
*/
