vti_encoding:SR|utf8-nl
http\://www.pennyparker2.com/isaacs1.html:linkgodfreym.isaacs.htm
mailto\:janice.faulconer@byu.net:1880isaacsjackson.htm 1870isaacs.htm 1850isaacs.htm index.htm 1860isaacs.htm 1880isaacsnonjackson.htm
mailto\:david@schimka.com:linkstephencarpenter.htm
http\://www.geocities.com/heartland/plains/7895/isaacksgrave63.htm:linkelijahisaacs.htm
http\://familytreemaker.genealogy.com/users/s/c/h/laura-k-schultz/index.html:linkcarterlax.htm linkstephencarpenter.htm
http\://www.geocities.com/heartland/plains/7895/isaacksgravesteven.htm:linkelijahisaacs.htm
http\://www.nara.gov/research/ordering/milordr.html:linkcwisaacs.htm
http\://www.geocities.com/heartland/plains/7895/isaacksgrave79.htm:linkelijahisaacs.htm
mailto\:marcijudge@aol.com:linkjarobbins.htm
http\://www.geocities.com/thomasspeed:linkcwisaacs.htm
http\://www.geocities.com/heartland/plains/7895/isaac.htm:linkjacobrebecca.htm 1870isaacs.htm linkgodfreylydia.htm 1860isaacs.htm
