vti_encoding:SR|utf8-nl
vti_webservertype:SR|diskweb
vti_structto_fp.geocities.com\:80/faulconj:TR|28 Dec 2000 21:30:40 -0000
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_usernames:VR|me James\\ Faulconer
vti_textextensions:SX|.txt.
vti_timecreated:TR|28 Dec 2000 21:26:02 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonnextlabel:SR|Next
vti_textindexood:IR|0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_structto_www.geocities.com\:80/faulconj:TR|28 Dec 2000 21:30:40 -0000
vti_casesensitiveurls:IX|0
vti_dependenciesood:IR|1
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_borderdefault:SR|tb
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_hassearchbot:BR|false
vti_navbuttonhomelabel:SR|Home
vti_showhiddenpages:IR|1
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_copytimestamp_http\://fp.geocities.com/faulconj:TR|25 Jan 2003 21:59:55 -0000
vti_copytimestamp_http\://www.geocities.com/faulconj:TR|27 Jan 2001 20:00:51 -0000
vti_insecureserverurl:SR|file://
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_httpdversion:SX|FrontPage DBW
vti_navbuttonuplabel:SR|Up
vti_extenderversion:SR|4.0.2.2717
vti_navbuttonprevlabel:SR|Back
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_ignorekeyboard:IR|0
